@page "/Tickets/{token}"

@if (Ticket.Id != 0 && Ticket.StatusId != null)
{
    @if (role.Equals("Admin"))
    {
        @if (string.IsNullOrEmpty(Ticket.WorkerId))
        {
            <button type="button" @onclick="TakeTicket" class="btnp">Приеми</button>
        }
        else
        {
           @if(Ticket.StatusId != closed.Id)
           {
                <div class="col-lg-12 mt-2">
                    <button type="button" @onclick="(() => ChangeStatus(InProgressStatus))" class="btnp">В прогрес</button>
                    <button type="button" @onclick="(() => ChangeStatus(WaitingAnswerStatus))" class="btnp">Ичакване на отговор</button>
                    <button type="button" @onclick="(() => ChangeStatus(ClosedStatus))" class="btnp btnr">Затвори билет</button>
                </div>
           }
        }
    }
    <br />
    <br />
    <div class="page-content page-container" id="page-content">
        <div>
            <div class="row d-flex">
                <div class="col-12">
                    <div class="card card-bordered">
                        <div class="card-header">
                            <h4 class="card-title"><strong>Chat</strong></h4>
                        </div>
                        <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:80vh !important;">

                            @foreach (var chat in Ticket.Chats)
                            {
                                if (CurrentUser.Id == chat.UserId)
                                {
                                    <div class="media media-chat media-chat-reverse">
                                        <div class="media-body media-body-reverse">
                                            <p>@chat.Message</p>
                                            <p class="meta"></p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="media media-chat">
                                        <div class="media-body">
                                            <p>@chat.Message</p>
                                            <p class="meta"></p>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div></div>
                        </div>

                        <EditForm EditContext="editContext" OnSubmit="SaveChat">
                            <div class="publisher bt-1 border-light">
                                @if(Ticket.StatusId == closed.Id)
                                {
                                    <InputText disabled="true" class="publisher-input" @bind-Value="chat.Message" placeholder="Текст..." />
                                }else{
                                    <InputText class="publisher-input" @bind-Value="chat.Message" placeholder="Текст..." />

                                }
                                <button type="submit" class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></button>
                            </div>
                        </EditForm>


                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p class="text-center validation-message">@msg</p>
    <EditForm Model="Ticket" OnSubmit="Submit">
        <div class="d-flex justify-content-center flex-nowrap">
            <div class="row" style="width: 100%!important">
                <div class="col-7 mt-2">
                    <label>Заглавие:</label>
                    <InputText disabled="@IsValidator" @bind-Value="Ticket.Title" class="form-control" />
                </div>
                <div class="col-12 mt-2">
                    <label>Опсиание на проблем:</label>
                    <InputTextArea disabled="@IsValidator" @bind-Value="Ticket.Problem" class="form-control" />
                </div>
                @if (IsValidator)
                {
                    <div class="col-lg-12 mt-2">
                        <button type="button" @onclick="Accept" class="btnp">Приеми</button>
                        <button type="button" @onclick="Denied" class="btnp btnr">Откажи</button>
                    </div>
                }
                else
                {
                    <div class="col-lg-12 mt-2">
                        <button type="submit" class="btnp">Запази</button>
                    </div>
                }
            </div>
        </div>
    </EditForm>

}
